<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Medyc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7406CAA41E5EC70D0050E05D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7406CAB81E5EC70D0050E05D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7406CAC31E5EC70D0050E05D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
